body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
	display:flex;
	flex-direction: column;
	width:100vw;
	height:100vh;
	overflow: auto;
}

.App__WebContainer {
	display: flex;
	flex-direction: column;
}

.App__WebContainer__MenuSection {
	display:flex;
	flex-direction: column;
	position: relative;
}

.App__WebContainer__MenuSection__Home {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 18px 0;
}

.App__WebContainer__MenuSection__Home__Page {
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	bottom: -18px;
	width: 100%;
}

.App__WebContainer__MenuSection__Home__Page__Presentation {
	display: flex;
	flex-direction: row;
	padding: 5px;
	background-color: white;
	border: 1px solid grey;
}

.App__WebContainer__MenuSection__Home__Page__Hobbies {
	display: flex;
	flex-direction: row;
	padding: 5px;
	background-color: white;
	border: 1px solid grey;
}

.App__WebContainer__MenuSection__Home__Page__Twitch {
	display: flex;
	flex-direction: row;
	padding: 5px;
	background-color: white;
	border: 1px solid grey;
}

.App__WebContainer__MenuSection__Home__Page__Youtube {
	display: flex;
	flex-direction: row;
	padding: 5px;
	background-color: white;
	border: 1px solid grey;
}

.App__WebContainer__BottomSection__PresentationPage {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.App__WebContainer__BottomSection__PresentationPage__CNI {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 50px;
}

.App__WebContainer__BottomSection__PresentationPage__Avatar,
.App__WebContainer__BottomSection__PresentationPage__Info,
.App__WebContainer__BottomSection__PresentationPage__Text {
	display: flex;
	flex-direction: column;
	/* align-content: center; */
	/* align-items: center; */
	padding: 10px;
	/* border: 2px solid #ccc; */
	/* margin: 5px; */

}

/* .App__WebContainer__BottomSection__PresentationPage__Avatar {
	background-color: red;
	justify-content: center;
} */

.App__WebContainer__BottomSection__PresentationPage__Avatar,
.App__WebContainer__BottomSection__PresentationPage__Info,
.App__WebContainer__BottomSection__PresentationPage__Text {
	/* display: flex; */
	/* flex-direction: column; */
	/* padding: 10%; */
	/* background-color: red; */
	/* flex: 1; */
	/* padding: 10px;
	border: 2px solid #ccc;
	margin: 5px; */
	justify-content: center;

}
