body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
	text-decoration: inherit;
	color: inherit;
}

a:hover {
	color: #ee6c4d;
}

.App {
	display:flex;
	flex-direction: column;
	width:100vw;
	height:100vh;
	overflow: auto;
}

.App__WebContainer {
	display: flex;
	flex-direction: column;
}

.App__WebContainer__MenuSection {
	display:flex;
	flex-direction: column;
	position: relative;
	min-height: 6em;
	z-index: 2;
}

.App__WebContainer__MenuSection__Link {
	margin-top: auto;
	margin-bottom: auto;
}

.App__WebContainer__MenuSection__Home {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 18px 0;
}

.App__WebContainer__MenuSection__Home__Page {
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	bottom: -18px;
	width: 100%;
}

.App__WebContainer__MenuSection__Home__Page__Presentation {
	display: flex;
	flex-direction: row;
	padding: 5px;
	background-color: white;
	border: 1px solid grey;
}

.App__WebContainer__MenuSection__Home__Page__Hobbies {
	display: flex;
	flex-direction: row;
	padding: 5px;
	background-color: white;
	border: 1px solid grey;
}

.App__WebContainer__MenuSection__Home__Page__Media {
	display: flex;
	flex-direction: row;
	padding: 5px;
	background-color: white;
	border: 1px solid grey;
}

.App__WebContainer__MenuSection__Home__Page__Contact {
	display: flex;
	flex-direction: row;
	padding: 5px;
	background-color: white;
	border: 1px solid grey;
}

.App__WebContainer__BottomSection__PresentationPage {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.App__WebContainer__BottomSection__PresentationPage__Loading {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.App__WebContainer__BottomSection__PresentationPage__Instagram {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding:50px;
	height: 100px;
}

.App__WebContainer__BottomSection__PresentationPage__CNI {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 50px;
}

.App__WebContainer__BottomSection__PresentationPage__Avatar,
.App__WebContainer__BottomSection__PresentationPage__Info,
.App__WebContainer__BottomSection__PresentationPage__Text {
	display: flex;
	flex-direction: column;
	padding: 10px;
	justify-content: center;
}
.App__WebContainer__BottomSection__MediaPage {
	width: 100%;
	z-index: 1;
}

.App__WebContainer__BottomSection__MediaPage__TwitchPlace {
	height: 800px;
	background-image: url("http://localhost:8090/db/img?title=twitchbg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	grid-template-columns: 1fr 1fr;
	/* opacity: 60%; */
}

.App__WebContainer__BottomSection__MediaPage__YoutubePlace {
	height: 800px;
	background-image: url("http://localhost:8090/db/img?title=youtubebg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.App__WebContainer__BottomSection__MediaPage__TwitchPlace__jdg,
.App__WebContainer__BottomSection__MediaPage__TwitchPlace__antoinedaniel,
.App__WebContainer__BottomSection__MediaPage__TwitchPlace__zerator,
.App__WebContainer__BottomSection__MediaPage__TwitchPlace__baghera {
	z-index: 2;
	background-color: #ee6c4d;
	margin-top: 50px;
	margin-bottom: 50px;
	width: 30%;
	height: 30%;
	/* opacity: 100%; */
}